@font-face {
	font-family: 'FuturaBT-Light';
	src: url('../fonts/futurabtlight.eot');
	src: url('../fonts/futurabtlight.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/futurabtlight.woff2') format('woff2'),
		 url('../fonts/futurabtlight.woff') format('woff'),
		 url('../fonts/futurabtlight.ttf') format('truetype');
}

@font-face {
	font-family: 'FuturaBT-Medium';
	src: url('../fonts/futurabtmedium.eot');
	src: url('../fonts/futurabtmedium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/futurabtmedium.woff2') format('woff2'),
		 url('../fonts/futurabtmedium.woff') format('woff'),
		 url('../fonts/futurabtmedium.ttf') format('truetype');
}

html,body{
	width:100%;
	height:100%;
}

body{
	font-family:'FuturaBT-Light';
	font-size:12px;
	margin:0px;
    overflow-y: hidden;
    /*overflow-y: hidden;*/

}

a{
	text-decoration: none;
	color:black;
	display:inline-block;
}

.popup-wrapper{
	position:fixed;
	background-color:rgba(0,0,0,0.5);
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.popup{
	width:25%;
	height:30%;
	position:absolute;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	background-color:white;
}


.clickable{
	cursor:pointer;
}

/*SK*/
/*.main{*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*overflow: hidden;*/
  /*height:100%;*/
/*}*/

/*.panel-container {*/
  /*flex: 1 1 auto;*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*overflow: hidden;*/
  /*height:100%;*/
/*}*/

/*SK InnerPanalConta + Overflow*/
/*SK NEW Width*/
.inner-panel-container {
	display: flex;
	width: 40%;
	/*flex-direction: column;*/
	/*overflow: hidden;*/
	height:100%;
}


.left-panel{
	height:100%;
	width:30%;
	flex: 0 0 auto;
	min-width:300px;
	max-width:1000px;
	border-right:3px solid #ccccff;
}


.right-panel{
	flex: 1 1 auto;
	height:100%;
	width:70%;
}

/*SK Height*/
.top-panel{
	flex: 0 0 auto;
	height:75%;
	width:100%;
    overflow-y: auto;
    overflow-x: hidden;
	text-align: center;
}

.bottom-panel{
	margin-top: 115px;
	/*flex: 1 1 auto;*/
	/*height:50%;*/
	/*width:100%;*/
	/*border-top:3px solid #ccccff;*/
}

/*SK BGColor*/
.menu{
	/*flex: 0 0 auto;*/
	height:50px;
	background-color:#005E8B;
}
.titleApp{
    text-align: center;
    color: white;
    font-weight: bold;
    transform: translateY(27%);
    font-size: 25px;
    font-family: 'Indie Flower', cursive;


}

/*SK Width*/
.block-list{
	width: 300%;
	padding:20px 0px;
}


ul{
	list-style: none;
	padding: 0px;
}

/*SK*/
/*.shadowed{*/
	/*-webkit-box-shadow: 3px 18px 53px -17px rgba(0,0,0,0.65);*/
	/*-moz-box-shadow: 3px 18px 53px -17px rgba(0,0,0,0.65);*/
	/*box-shadow: 3px 18px 53px -17px rgba(0,0,0,0.65);*/
/*}*/

/*Come back later on width 25% ???*/
.repository .container{
    width: 82%;
    margin-left: 19%;
    margin-top: 24%;
}
.block-list .container{
    width: 100%;
    margin-left: 7%;
    margin-top: 95px;
}

/*SK Width*/
.container .slot{
	width: 300px;
	height:70px;
	border-radius:5px;
	margin-bottom: 10px;
	position: relative;
	text-align: center;

}

/*SK Width BGColor, Color, FontSize*/
.container .slot.exercise{
	background-color:#43a0fa;
	color: white;
	font-size: 15px;
	/*width:100%;*/
	margin:3px 0px;
	border-radius:5px;
    font-size: 21px;
    font-weight: bold;
}
.week-schedule .exercise{
    background-color:#43a0fa;
	color: white;
	font-size: 15px;
	/*width:100%;*/
	margin:5px 0px;
	border-radius:5px;
    font-size: 19px;
    font-weight: bold;
}

/*SK Width BGColor, Color, FontSize*/
.container .slot.lecture{
	background-color:#ff6969;
	color: white;
	font-size: 15px;
	/*width:100%;*/
	margin:5px 0px;
	border-radius:5px;
    font-size: 21px;
    font-weight: bold;
}
.week-schedule .lecture{
    background-color:#ff6969;
	color: white;
	font-size: 15px;
	/*width:100px;*/
	margin:5px 0px;
	border-radius:5px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;

}
.container .slot.assignment{
	background-color: #fde83f;
	color: white;
	font-size: 15px;
	/*width:100%;*/
	margin:5px 0px;
	border-radius:5px;
    font-size: 21px;
    font-weight: bold;
}
.week-schedule .assignment{
    background-color: #fde83f;
	color: white;
	font-size: 15px;
	/*width:100px;*/
	margin:5px 0px;
	border-radius:5px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
}

/*SK Colors*/
.wide-btn{
	background-color: white;
	color: #959595;
	font-size:40px;
}

.wide-btn i{
	top:50%;
	transform: translateY(-50%) translateX(-50%) ;
	left:50%;
	position: absolute;
}

.block-list .slot .add{
	display: none;
}


.week-schedule{
	text-align: center;
}

/*SK Width*/
.week{
	width:101%;
	display:inline-block;
	margin:auto;
}

/*Hilly Rock*/
/*img {*/
	/*width: 5%;*/
	/*display:inline-block;*/
	/*margin:auto;*/
/*}*/

/*SK AMPM*/
.ampm {
	line-height: 55px;
	margin: 10px;
	font-size: inherit;
	font-family: inherit;
	color: gray;
	display: inline-block;
}

.timeLine{
   display: inline-block;
    height: 500px;
    width: 50px;
    vertical-align: top;
    padding-top: 3%;
    padding-bottom: 2%;
   color: gray;
}

.timeLineHour {
    margin-top: 75%;

}

/*SK Color Width*/
.day{
	display: inline-block;
	border: solid 1px #d3d3d3;
	height:500px;
	width: 94px;
	vertical-align: top;
}

.day .scheduled-activity{
	background-color:blue;
	width:100%;
	margin:5px 0px;
}
.popup-wrapper{
    display: none;
	padding: 220px;

}

/*SK Text align center*/
.popup{
	border-radius:5px;
	/*text-align: center;*/
}

/*SK BGColor color cursor border*/
.closingGrass {
	float: right;
    padding-right: 8px;
    font-size: 25px;
    /*background-color:  #0070a8;*/
    color: white;
    border: none;
	cursor: pointer;
	margin: 1%;
}

#slots-container2{
    height:50px;
}
.ui-resizable {
    position: inherit;
}


/***************/
/*Shais CSS*/
/***************/

.calBanner{
   margin: auto;
    background-color: #0070a8;
    height: 130px;
    width: 742px;
    font-family: arial;
    font-size: 35px;
    color: white;
    text-align: left;
    text-indent: 20px;
   margin-left: 8px;
}

.calStartDate{
	color: white;
	font-family: "Calibri Light";
	font-size: 20px;
}

.calYear{

}

.calCurrentDate{
	margin-top: 20px;
}

.weekScale{
	margin: 10px;
}

.weekNumber{
	color: black;
	font-size: 15px;
	font-family: "Calibri Light";
}

.weekArrow{
	border: none;
    background-color: white;
	color: gray;
    cursor: pointer;
}

.inLineBlock{
	display: inline-block;
        vertical-align: top;
}

.activityHeader{
	background-color: #016cad;
    height: 190px;
    font-size: 20px;
    color: white;
    padding-left: 30px;
    padding-top: 10px;
	margin: 1%;
}

.activityTitle{
	color: white;
	background-color:  #016cad;
    border: none;
    font-size: 30px;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
	margin: 1%;
}

.activityDesc{
	background-color:  #016cad;
    border: none;
    font-size: 20px;
    width: 93%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.programTitle{
	color: white;
    background-color: #016cad;
    border: none;
    font-size: 10px;
    width: 250%;
    font-family: Arial, Helvetica, sans-serif;
}

.cohortTitle{
	color: white;
    background-color: #016cad;
    border: none;
    font-size: 10px;
    width: 25%;
    font-family: Arial, Helvetica, sans-serif;
	margin-left: 8px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}

input, select, textarea{
    color: white;
}

.classType{
   /*margin-left: 83%;*/
   /*margin-top: 10px;*/
}

.classMargin{
   margin-left: 9%;
}

.hoursMargin{
   margin-left: -64%;
}

.timeslot{
    margin-left: 4%;
    width: 25%;
    color: black;
    text-align: center;
}

input, select, textarea .timeslot{
    color: black;
}

textarea {
    border-style: none;
    border-color: Transparent;
    overflow: auto;
  }

.noselect {
   cursor: auto;
   -webkit-user-select: none;
   -webkit-touch-callout: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
}

.noselect:focus {
   outline: none;
}

.top{
	top: 100px;
}
.saveForm{
    background-color: #00d470;
    color: white;
    width: 60px;
    height: 25px;
    margin-left: 85%;
    margin-top: 4%;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
/*SCROLL*/

/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}


/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: lightgray;
}

/*Stone CSS*/

.space{
	height: 47px;
	width: 94px;
	/*border: 1px solid black;*/
    border-radius: 5px;
    margin: 5px 0px;
}
.stoneSlot{
	height: 47px;
	width: 94px;
	background-color: green;
    border-radius: 5px;
    margin: 5px 0px;

}
.stoneCreator {
	height: 50px;
	width: 50px;
	background-color: rosybrown;
}
.popWrapperStone{
    position:fixed;
	background-color:rgba(0,0,0,0.5);
	top:0;
	bottom:0;
	left:0;
	right:0;
    display: none;
	padding: 220px;
}
.popupStone{
    width:25%;
	height:30%;
	position:absolute;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	background-color:white;
}
.closingPopupStone{
    float: right;
    padding-right: 8px;
    font-size: 25px;
    /*background-color:  #0070a8;*/
    color: white;
    border: none;
	cursor: pointer;
	margin: 34%;
}
.repo-panel.inLineBlock{
    overflow-y: auto;
    overflow-x: hidden;
    width: 23%;
    height: 74%;
    max-width: 23%;
}