<li id="{{activity.id}}" class="draggable shadowed {{activity.type|lower}} slot">{{activity.title}}
    <button class="remove">Remove</button>
</li>


<!--<li id="{{activity.id}}" data-activity-length="{{activity.time_slots}}"-->
								<!--data-type={{activity.type|lower}} data-activity-title="{{activity.title}}"-->
								<!--data-next="{{activity.next}}"-->
								<!--class="draggable shadowed {{activity.type|lower}} slot block ui-widget-content">({{activity.time_slots}}){{activity.title}} {{activity.id}} -&ndash;&gt; {{activity.next}}</li>-->
